#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
out

#Gradle
.gradle
build

#Maven
target
release.properties
pom.xml.*
project.properties

#Ant
build.xml
local.properties
gradle.properties
proguard.cfg

#OSX
.DS_Store/

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties